.courses{
  width:65%;
  height: auto;
  text-align: center;
  border-radius: 10px;
  padding: 0.3rem;
  margin: 57px;
  margin-top: 63px;
  box-shadow: 5px 5px 15px -6px #000000;
}
.shop_tag{
  margin-top: 30px;
  font-weight: bold;
  margin-left: 78px;
}
.checkout-info{
  width: 25%;
  margin-top: 4rem;
  height: 168px;
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  float: right;


  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);



}
.checkout-title p{
  font-weight: 400;
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
}
.total_price{
  margin-left: 10px;
  padding: 3px;
}
.total_price p{
  font-weight: bolder;

}
.checkout-title{


  text-align: left;
}
.checkout__btn{
  padding: 18px;
}
.checkout__btn>button{
  width: 99%;
  height: 39px;
  color: white;
  background-color: #ee6c4d;
}
